@tailwind base;
@tailwind components;
@tailwind utilities;

/* Đặt thanh cuộn mặc định là ẩn */
.scrollbar-hidden::-webkit-scrollbar {
	width: 0;
	height: 0;
}

/* Hiện thanh cuộn khi hover vào phần tử */
.scrollbar-hidden:hover::-webkit-scrollbar {
	width: 8px;
	background-color: #121212;
}

.scrollbar-hidden:hover::-webkit-scrollbar-thumb {
	background-color: #333333;
	border-radius: 4px;
}
.scrollbar-hidden:hover {
	scrollbar-width: thin;
	scrollbar-color: #333333 #121212;
}
